.logo {
  font-size: 1.125rem;
  margin-bottom: -0.0625rem;
  &:hover {
    color: white;
  }
  &-img {
    position: relative;
    top: 0.8125rem;
  }
  @media(max-width: 347px) {
    font-size: 0.8rem;
  }
}
.jumbotron {
  h1 {
    @media(max-width: 347px) {
      font-size: 2.5rem;
    }
  }
}
.phone-btn {
  padding: 0.7rem 1.4rem;
  font: {
    size: 1.3rem;
    weight: normal;
  }
  @media(max-width: 347px) {
    font-size: 1.2rem;
  }
  &.iphone-5 {
    @media(max-width: 347px) {
      font-size: 1.1rem;
    }
  }
}
.gallery {
  position: relative;  
  #carousel {
    max-width: 700px;
    margin: 0 auto;
  }
  &-img {
    border-radius: 10%;
  }
  .separator {
    margin-top: 4rem;
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
.carousel-prev, .carousel-next {
  position: absolute;
  top: calc(50% - 0.8125rem);
}
.carousel-prev {
  @media(max-width: 574px) {
    left: -2%;
  }
  @media(min-width: 575px) {
    left: -2%;
  }
  @media(min-width: 991px) {
    left: 11%;
  }
  @media(min-width: 1199px) {
    left: 17%;
  }
}
.carousel-next {
  @media(max-width: 574px) {
    right: -2%;
  }
  @media(min-width: 575px) {
    right: -2%;
  }
  @media(min-width: 991px) {
    right: 11%;
  }
  @media(min-width: 1199px) {
    right: 17%;
  }
}
.content-block {
  .pic {
    width: 9.37500rem;
    object-fit: contain;
  }
  &:nth-of-type(n+3) {
    margin-top: 5rem;
  }
}
.attention {
  margin-top: 4rem;
  .message {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}
.contacts {
  margin-top: 4rem;
  .route {
    display: inline-block;
    margin-top: 0.3rem;
  }
  .schedule {
    tr {
      td:first-child {
        font-weight: bold;
        width: 2rem;
      }
    }
  }
}
.main-footer {
  height: 3.75rem;
  background-color: #f5f5f5;
  border-top: 0.0625rem solid #ddd;
}
#back-top {
  position: fixed;
  bottom: 3.75rem;
  right: 3%;
  a {
    background: url("../images/top.png") no-repeat;
    width: 6.25rem;
    height: 6.25rem;
    display: block;
    margin-bottom: 0.4375rem;
    color: #336ab7;
    @media(max-width: 600px) {
      width: 4.6875rem;
      height: 4.6875rem;
      background-size: 100% 100%;
    }
  }
  @media(max-width: 600px) {
    bottom: 1.875rem;
  }
  
}