.logo {
  font-size: 1.125rem;
  margin-bottom: -2px;
  &:hover {
    color: white;
  }
  &-img {
    position: relative;
    top: 13px;
  }
}
.phone-btn {
  padding: 0.55rem 1.2rem;
  font: {
    size: 1.3rem;
    weight: normal;
  }
}
.gallery {
  max-width: 700px;
  &-img {
    border-radius: 10%;
  }
}