<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="Хутряне ателье у м. Дніпро. Пошив шуб, манто, дублянок")
    meta(name="keywords" content="Пошив у Дніпрі, хутряне ательє, пошив плаття, пошив костюмів")
    link(type="image/png" href="/favicon.png" rel="icon")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
    title Ательє Ольги Малахової
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.p-0
      .container.p-0
        a.navbar-brand(href="#").p-0.logo
          img(src="images/logo.png").logo-img
          |Ательє Ольги Малахової
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarToggler
          ul.navbar-nav.ml-auto.mt-sm-2.mt-md-0
            li.nav-item.d-none.d-lg-block
              a.nav-link.text-white.small Ми також у соціальних мережах
            li.nav-item.ml-auto
              a.nav-link(href="https://www.facebook.com/%D0%90%D1%82%D0%B5%D0%BB%D1%8C%D1%94-%D0%9E%D0%BB%D1%8C%D0%B3%D0%B8-%D0%9C%D0%B0%D0%BB%D0%B0%D1%85%D0%BE%D0%B2%D0%BE%D0%B9-125118444207332/")
                img(src="images/facebook32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://plus.google.com/b/100379982894156347690/")
                img(src="images/Google+32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://www.instagram.com/malakhova6923/")
                img(src="images/Instagram32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://www.linkedin.com/in/atelier-olga-malakhova/")
                img(src="images/Linkedin32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://twitter.com/atelieolgi")
                img(src="images/Twitter32.png")
    .jumbotron.bg-white.text-center
      h1.display-4.font-weight-normal Ательє Ольги Малахової
      p.lead.font-weight-normal Ательє одягу для дорослих та дітей у м. Дніпрі
      a(href="tel:+380-67-563-9211").btn.btn-success.phone-btn Наш телефон: 067 563 9211

        