<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description" content="Хутряне ателье у м. Дніпро. Пошив шуб, манто, дублянок")
    meta(name="keywords" content="Пошив у Дніпрі, хутряне ательє, пошив плаття, пошив костюмів")
    link(type="image/png" href="/favicon.png" rel="icon")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
    title Ательє Ольги Малахової
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.p-0
      .container.p-0
        a.navbar-brand(href="#").p-0.logo
          img(src="images/logo.png").logo-img
          |Ательє Ольги Малахової
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarToggler
          ul.navbar-nav.ml-auto.mt-sm-2.mt-md-0
            li.nav-item.d-none.d-lg-block
              a.nav-link.text-white.small Ми також у соціальних мережах
            li.nav-item.ml-auto
              a.nav-link(href="https://www.facebook.com/%D0%90%D1%82%D0%B5%D0%BB%D1%8C%D1%94-%D0%9E%D0%BB%D1%8C%D0%B3%D0%B8-%D0%9C%D0%B0%D0%BB%D0%B0%D1%85%D0%BE%D0%B2%D0%BE%D0%B9-125118444207332/")
                img(src="images/facebook32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://plus.google.com/b/100379982894156347690/")
                img(src="images/Google+32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://www.instagram.com/malakhova6923/")
                img(src="images/Instagram32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://www.linkedin.com/in/atelier-olga-malakhova/")
                img(src="images/Linkedin32.png")
            li.nav-item.ml-auto
              a.nav-link(href="https://twitter.com/atelieolgi")
                img(src="images/Twitter32.png")
    .jumbotron.bg-white.text-center
      h1.display-4.font-weight-normal Ательє Ольги Малахової
      p.lead.font-weight-normal Ательє одягу для дорослих та дітей у м. Дніпрі
      a(href="tel:+380-67-563-9211").btn.btn-success.phone-btn Наш телефон: 067 563 9211
    .container
      section.gallery
        h4.mb-4 Галерея наших робіт
        #carousel.carousel.slide(data-ride="carousel")
          .carousel-inner.ml-auto.mr-auto
            .carousel-item.active
              .row
                .col-4
                  img(src="images/1.jpg" alt="slide").d-block.w-100.img-thumbnail.gallery-img
                .col-4
                  img(src="images/2.jpg" alt="slide").d-block.w-100.img-thumbnail.gallery-img
                .col-4
                  img(src="images/3.jpg" alt="slide").d-block.w-100.img-thumbnail.gallery-img
            .carousel-item
              .row
                .col-4
                  img(src="images/4.jpg" alt="slide").d-block.w-100.img-thumbnail.gallery-img
                .col-4
                  img(src="images/5.jpg" alt="slide").d-block.w-100.img-thumbnail.gallery-img
                .col-4
                  img(src="images/6.jpg" alt="slide").d-block.w-100.img-thumbnail.gallery-img
          a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next(href="#carousel" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
          hr.separator
      section.content-block
        h3 Хутряне ательє
        .d-flex.align-items-start
          img(src="images/30.jpg").rounded.pic.mr-4.mt-2
          .text
            p Що може бути краще, ніж одяг з хутра? Стильний та теплий, він зігріває нас, але в той же час дозволяє виглядати красиво та стильно. 
              |Шуби, дублянки, манто та жилетки з натурального або штучного хутра дозволять вам відчувати себе комфортно за будь якої погоди, але при цьому хутро ніколи не виходить з моди. 
              |Для того, щоб зменшити вбивства тварин можна використовувати штучне хутро, яке зараз за якістю не поступається природним аналогам. Як хутряне ательє, 
              |ми працюємо досить довго та маємо величезний досвід у цій галузі. Ми виготовляємо шуби, дублянки, манто та інше на замовлення, допомагаємо вибрати хутро під конкретну модель 
              |та порекомендуємо зручний та модний фасон. Також ремонтуємо, перешиваємо або підганяємо по фігурі хутряні вироби. Ми співпрацюємо з різними постачальниками хутра, 
              |то ж ви можете завжди вибрати найбільш оптимальне для вас за ціною та якістю.
            p Є правда одне виключення - ми не шиємо, не ремонтуємо, не підганяємо шапки. Ніякі. Навіть з хутра. Так - це також хутряні вироби, але ми з цим не працюємо.
            a(href="http://www.atelie-one.org.ua/rabotyi-atele/").btn.btn-outline-dark Наш старий сайт &raquo;
      section.content-block
        h3 Пошив одягу для дорослих та дітей
        .d-flex.align-items-start
          img(src="images/13.jpg").rounded.pic.ml-4.mt-2.order-2
          .text.order-1
            p Ми працюємо як для дороcлих так й для дітей. У нас ви можете замовити верхній одяг - костюми, сукні - весільні, коктельні та повсякденні, спортивні костюми, пальта, куртки та інші речі для свого гаредеробу. До речі зверніть увагу, що ми одні з небагатьох ательє в місті Дніпрі, хто взагалі шиє чоловічі костюми або піджаки та брюки окремо. У нас ви можете замовити любий сподобавшийся фасон та модель. Якщо потрібно ми надамо рекомендації що до тканини та фурнітури, щоб вибрана вами модель виглядала саме так, як ви того очікуєте. Ми витратим на вас стільки часу, скільки це потрібно, саме той результат який би ви хотіли.
            p Також зверніть увагу - пошив в ательє відрізняється від покупки одягу на базарі та в магазині. Вам потрібно буде запланувати час на примірки - зазвичай ми шьємо речі з одної примірки, але бувають випадки коли потрібно зробити їх декілька. Зате й результат який ви отримаєте вас задовільнить.
            p Якщо ви купили костюм або сукню у магазині або в бутіку й вам здається що вона погано на вас сидить - це не проблема. Ми допоможемо вам підігнати одяг по фігурі й ви будете гарно виглядати.
            a(href="https://www.facebook.com/%D0%90%D1%82%D0%B5%D0%BB%D1%8C%D1%94-%D0%9E%D0%BB%D1%8C%D0%B3%D0%B8-%D0%9C%D0%B0%D0%BB%D0%B0%D1%85%D0%BE%D0%B2%D0%BE%D0%B9-125118444207332").btn.btn-outline-dark Наша сторінка в фейсбук &raquo;
      section.content-block
        h3 Танцювальні та сценічні костюми
        .d-flex.align-items-start
          img(src="images/dance.jpg").rounded.pic.mr-4.mt-2
          .text
            p Костюми та сцена - це речи які не можуть бути одне без одного. Це відноситься як до аматорів та професіоналів спортивного танця, так й до сценічних та циркових колективів - завжди тут велечезну роль грає окрім виконавця його костюм.
            p Ми довго та плідно співпрацюємо з сценічними та цирковими колективами як в Україні так й закордоном а також з окремими виконавцями. Можливо ми не такі гарні, як костюмери великів театрів - але ми працюємо з труппами які включають в себе фокусників, танцюристів, акробатів та інших, тож досвід нашого ательє досить великий. Маємо досвід виготовлення трансформацій.
            p Приймаємо участь у Прозоро, працюємо з бюджетними організаціями
            a(href="http://www.atelie-one.org.ua/rabotyi-atele/kontsertnyie-i-tantsevalnyie-kostyumyi/").btn.btn-outline-dark Сценічні костюми &raquo;

    section.attention.row.justify-content-center
      .col-md-10.col-lg-8.col-xl-6.text-center
        a(href="tel:+380-67-563-9211").btn.btn-danger.phone-btn Зверніть будь ласка увагу!
        p.message Якщо ви не встигаєте до закриття ательє - ми все розуміємо. Будь ласка, зателефонуйте нам, й ми дочекаємося вас. Дякуємо!

    section.contacts
      